.red-button {
    background-color: #ff4d4d;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.green-button {
    background-color: #4dff4d;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.blue-button {
    background-color: #0f8cfa;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.yellow-button {
    background-color: #f6f639;
    color: black;
    padding: 30px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: stretch;
    grid-column: 2 / -1;
    gap: 20px;
    margin: 0;
}

.answer {
    max-width: 400px;
    min-width: 300px;
    min-height: 100px;
}

.wrong-btn:disabled {
    background-color: red;
}

.right-btn {
    background-color: #18e014;
}

.selected-wrong {
    background-color: darkred;
    color: white !important;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
